*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.containerTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formDocente {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.inputLabel{
    width: 45%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.containerIndirizzo{
    width: 100%;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.salva{
    width: 20%;
    display: block;
}